# =========================
# Visual Studio / VS2022
# =========================
.vs/
*.sln
*.slnx
*.vcxproj
*.vcxproj.filters
*.user
*.suo
*.db
*.ipch

# Build directories
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
[Dd]ebug/
[Rr]elease/
x64/

# =========================
# Visual Studio Code
# =========================
.vscode/

# =========================
# Compiled object files
# =========================
*.o
*.obj
*.slo
*.lo
*.d

# =========================
# Precompiled headers
# =========================
*.gch
*.pch

# =========================
# Compiled libraries
# =========================
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib

# =========================
# Executables
# =========================
*.exe
*.out
*.app

# =========================
# Fortran module files
# =========================
*.mod
*.smod

# =========================
# Flash / Air / Mobile
# =========================
*.swf
*.air
*.ipa
*.apk

# =========================
# Other Windows temporary files
# =========================
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.log